<div class="product-popin">
  <div class="product-detail">
    <h1>Nike LeBron 17 “Bron 2K” Purple</h1>
    <h2>₹ 15,095.90</h2>
    <p>
      The first GE shoe launch will be a flooded Purple Nike LeBron 17. The
      special edition colorway features the 2K logo and NBA 2K20’s WELCOME TO
      THE NEXT tagline over iconic Laker’s Purple. To unlock this GE, players
      must upskill their MyPLAYER avatar to 98, eclipsing LeBron’s in-game
      rating of 97.
    </p>
  </div>
  <div class="social-bottom">
    <app-social></app-social>
  </div>
  <img class="shoe-big" src="/assets/shoe.png" alt="" />
  <div class="side-share">SHARE</div>
  <div class="close-btn"><img src="/assets/close.png" alt="" /></div>
</div>
